<article class="markdown-body">

<h1 id="apidoc-creator"><a class="anchor" routerLink="/referencias/apidoc-creator" fragment="apidoc-creator" aria-hidden="true"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a> Apidoc Creator</h1>
<p>La forma tradicional de documentar servicios web RESTFUL, es escribir la descripción de la ruta en forma de comentario en el caso de ApidocJS o en un fichero con formato JSON en el caso de Swagger.</p>
<p>ApidocJS es muy flexible al momento de describir la ruta de un servicio, sin embargo, describir las rutas en forma de comentarios no es la adecuada si se quiere automatizar este proceso.</p>
<p>Apidoc Creator utiliza ApidocJS para crear la documentación y ofrece un sistema diferente para describir las rutas, fácil de implementar. Para describir los datos de entrada y salida, utiliza la librería Field Creator.</p>
<h2 id="caracteristicas"><a class="anchor" routerLink="/referencias/apidoc-creator" fragment="caracteristicas" aria-hidden="true"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a> Características</h2>
<ul>
<li>Devuelve la descripción de una ruta en formato de texto plano, según el formato que establece ApidocJS.</li>
<li>Devuelve la descripción de un modelo Sequelize en formato MD (MarkDown).</li>
</ul>
<h2 id="propiedades-soportadas"><a class="anchor" routerLink="/referencias/apidoc-creator" fragment="propiedades-soportadas" aria-hidden="true"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a> Propiedades soportadas:</h2>
<table>
<thead>
<tr>
<th>Propiedad</th>
<th>Descripción</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>name</code></td>
<td>Nombre asignado a la ruta.</td>
</tr>
<tr>
<td><code>method</code></td>
<td>Método HTTP para acceder al recurso.</td>
</tr>
<tr>
<td><code>path</code></td>
<td>Ruta del recurso (URI).</td>
</tr>
<tr>
<td><code>group</code></td>
<td>Grupo al que pertenece la ruta.</td>
</tr>
<tr>
<td><code>version</code></td>
<td>Versión de la ruta.</td>
</tr>
<tr>
<td><code>description</code></td>
<td>Descripción de la ruta.</td>
</tr>
<tr>
<td><code>input</code></td>
<td>Datos de entrada. Objeto de tipo <strong>FieldGroup</strong>.</td>
</tr>
<tr>
<td><code>output</code></td>
<td>Datos de salida. Objeto de tipo <strong>FieldGroup</strong>.</td>
</tr>
<tr>
<td><code>inputExamples</code></td>
<td>Ejemplos de datos de entrada.</td>
</tr>
<tr>
<td><code>outputExamples</code></td>
<td>Ejemplos de datos de salida.</td>
</tr>
<tr>
<td><code>permissions</code></td>
<td>Lista de todos los roles que pueden acceder al recurso.</td>
</tr>
</tbody>
</table>
<h2 id="propiedades-input-y-output"><a class="anchor" routerLink="/referencias/apidoc-creator" fragment="propiedades-input-y-output" aria-hidden="true"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a> Propiedades <code>input</code> y <code>output</code></h2>
<pre><code class="hljs language-js"><span class="hljs-keyword">const</span> INPUT = &#123;
  <span class="hljs-attr">headers</span> : FIELD,
  <span class="hljs-attr">params</span>  : FIELD,
  <span class="hljs-attr">query</span>   : FIELD,
  <span class="hljs-attr">body</span>    : FIELD
&#125;

<span class="hljs-keyword">const</span> OUTPUT = FIELD <span class="hljs-comment">// Siempre sera body</span>
</code></pre>
<p>Para crear los objetos <code>input</code> y <code>output</code>, se recomienda utilizar la librería <a href="https://github.com/insacjs/field-creator">field-creator</a>.</p>
<h2 id="funcion-oncreate"><a class="anchor" routerLink="/referencias/apidoc-creator" fragment="funcion-oncreate" aria-hidden="true"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a> Función <code>onCreate</code></h2>
<p>Esta función puede utilizarse para realizar una tarea de forma automática cada vez que se defina una ruta.</p>
<pre><code class="hljs language-js"><span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">onCreate</span> (<span class="hljs-params">route</span>) </span>&#123;
  <span class="hljs-built_in">console</span>.log(route.apidoc)
  <span class="hljs-comment">// TODO</span>
&#125;

<span class="hljs-keyword">const</span> router = Apidoc.router(onCreate)

router.GET(<span class="hljs-string">'/api/v1/libros'</span>, &#123; ... &#125;)
router.GET(<span class="hljs-string">'/api/v1/libros/:id'</span>, &#123; ... &#125;)
router.POST(<span class="hljs-string">'/api/v1/libros'</span>, &#123; ... &#125;)
router.PUT(<span class="hljs-string">'/api/v1/libros/:id'</span>, &#123; ... &#125;)
router.DELETE(<span class="hljs-string">'/api/v1/libros/:id'</span>, &#123; ... &#125;)
</code></pre>
<h2 id="instalacion"><a class="anchor" routerLink="/referencias/apidoc-creator" fragment="instalacion" aria-hidden="true"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a> Instalación</h2>
<p>Para instalar sobre un proyecto, ejecutar el siguiente comando:</p>
<p>$ <code>npm install --save apidoc-creator</code></p>
<h2 id="ejemplo-1-descripcion-de-modelos"><a class="anchor" routerLink="/referencias/apidoc-creator" fragment="ejemplo-1-descripcion-de-modelos" aria-hidden="true"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a> Ejemplo 1. Descripción de modelos</h2>
<pre><code class="hljs language-js"><span class="hljs-keyword">const</span> &#123; Apidoc &#125; = <span class="hljs-built_in">require</span>(<span class="hljs-string">'apidoc-creator'</span>)
<span class="hljs-keyword">const</span> &#123; Field &#125;  = <span class="hljs-built_in">require</span>(<span class="hljs-string">'field-creator'</span>)

LIBRO = sequelize.define(<span class="hljs-string">'libro'</span>, &#123;
  <span class="hljs-attr">id</span>     : Field.ID(&#123; <span class="hljs-attr">comment</span>: <span class="hljs-string">'ID del libro.'</span> &#125;),
  <span class="hljs-attr">titulo</span> : Field.STRING(&#123; <span class="hljs-attr">comment</span>: <span class="hljs-string">'Título del libro.'</span>, <span class="hljs-attr">example</span>: <span class="hljs-string">'El gato negro'</span> &#125;),
  <span class="hljs-attr">precio</span> : Field.FLOAT(&#123; <span class="hljs-attr">comment</span>: <span class="hljs-string">'Precio del libro. [Bs]'</span> &#125;),
  <span class="hljs-attr">estado</span> : Field.ENUM([<span class="hljs-string">'ACTIVO'</span>, <span class="hljs-string">'INACTIVO'</span>], &#123; <span class="hljs-attr">comment</span>: <span class="hljs-string">'Estado del registro.'</span> &#125;)
&#125;, &#123;
  <span class="hljs-attr">comment</span>: <span class="hljs-string">'Representa a una obra literaria.'</span>
&#125;)
<span class="hljs-keyword">const</span> markdown = Apidoc.model(LIBRO)
<span class="hljs-built_in">console</span>.log(markdown)
<span class="hljs-comment">/*

### **libro**

Representa a una obra literaria.

| Atributo           | Tipo de dato                           | Descripción                    |
|--------------------|----------------------------------------|--------------------------------|
| `id` [ PK ]        | `Integer`                              | ID del libro.                  |
| `titulo`           | `String&#123;de 1 a 255 caracteres&#125;`        | Título del libro.              |
| `precio`           | `Float`                                | Precio del libro. [Bs]         |
| `estado`           | `String=ACTIVO,INACTIVO`               | Estado del registro.           |

*/</span>
</code></pre>
<h2 id="ejemplo-2-descripcion-de-rutas"><a class="anchor" routerLink="/referencias/apidoc-creator" fragment="ejemplo-2-descripcion-de-rutas" aria-hidden="true"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a> Ejemplo 2. Descripción de rutas.</h2>
<pre><code class="hljs language-js"><span class="hljs-keyword">const</span> &#123; Apidoc &#125;      = <span class="hljs-built_in">require</span>(<span class="hljs-string">'apidoc-creator'</span>)
<span class="hljs-keyword">const</span> &#123; Field, THIS &#125; = <span class="hljs-built_in">require</span>(<span class="hljs-string">'field-creator'</span>)
<span class="hljs-keyword">const</span> express = <span class="hljs-built_in">require</span>(<span class="hljs-string">'express'</span>)

<span class="hljs-keyword">const</span> app = express()

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">onCreate</span> (<span class="hljs-params">route</span>) </span>&#123;
  app[route.method](route.path, route.controller)

  <span class="hljs-built_in">console</span>.log(route.apidoc)
  <span class="hljs-comment">/**
  * @api &#123;post&#125; /libros crearLibro
  * @apiName crearLibro
  * @apiGroup Libro
  * @apiDescription Crea un libro.
  * @apiVersion 1.0.0
  * @apiParam (Input - body) &#123;String&#123;de 1 a 255 caracteres&#125;&#125; titulo Título del libro.
  * @apiParam (Input - body) &#123;Float&#125; precio Precio del libro. [Bs]
  * @apiParam (Input - body) &#123;String=ACTIVO,INACTIVO&#125; estado Estado del registro.
  * @apiParamExample &#123;json&#125; Ejemplo Petición
  * &#123;
  *   "titulo": "El gato negro",
  *   "precio": 12.99,
  *   "estado": "ACTIVO"
  * &#125;
  * @apiSuccess (Output - body) &#123;Integer&#125; [id] ID del libro.
  * @apiSuccess (Output - body) &#123;String&#125; [titulo] Título del libro.
  * @apiSuccess (Output - body) &#123;Float&#125; [precio] Precio del libro. [Bs]
  * @apiSuccess (Output - body) &#123;String&#125; [estado] Estado del registro.
  * @apiSuccessExample &#123;json&#125; Respuesta Exitosa: 200 Ok
  * HTTP/1.1 200 Ok
  * &#123;
  *   "id": 1,
  *   "titulo": "El gato negro",
  *   "precio": 12.99,
  *   "estado": "ACTIVO"
  * &#125;
  */</span>
&#125;
<span class="hljs-keyword">const</span> router = Apidoc.router(onCreate)

router.GET(<span class="hljs-string">'/libros'</span>, &#123;
  <span class="hljs-attr">description</span> : <span class="hljs-string">'Crea un libro.'</span>,
  <span class="hljs-attr">name</span>        : <span class="hljs-string">'crearLibro'</span>,
  <span class="hljs-attr">group</span>       : <span class="hljs-string">'Libro'</span>,
  <span class="hljs-attr">input</span>       : &#123;
    <span class="hljs-attr">body</span>: Field.group(LIBRO, &#123;
      <span class="hljs-attr">titulo</span> : THIS(&#123; <span class="hljs-attr">allowNull</span>: <span class="hljs-literal">false</span> &#125;),
      <span class="hljs-attr">precio</span> : THIS(&#123; <span class="hljs-attr">allowNull</span>: <span class="hljs-literal">false</span> &#125;),
      <span class="hljs-attr">estado</span> : THIS(&#123; <span class="hljs-attr">allowNull</span>: <span class="hljs-literal">false</span> &#125;)
    &#125;)
  &#125;,
  <span class="hljs-attr">output</span>: Field.group(LIBRO, &#123;
    <span class="hljs-attr">id</span>     : THIS(),
    <span class="hljs-attr">titulo</span> : THIS(),
    <span class="hljs-attr">precio</span> : THIS(),
    <span class="hljs-attr">estado</span> : THIS()
  &#125;),
  <span class="hljs-attr">controller</span>: <span class="hljs-function">(<span class="hljs-params">req, res, next</span>) =&gt;</span> &#123;
    <span class="hljs-keyword">return</span> res.status(<span class="hljs-number">200</span>).json(&#123; <span class="hljs-attr">msg</span>: <span class="hljs-string">'ok'</span> &#125;)
  &#125;
&#125;)
</code></pre>

</article>