<article class="markdown-body">

<h1 id="response-handler"><a class="anchor" routerLink="/referencias/response-handler" fragment="response-handler" aria-hidden="true"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a> Response Handler</h1>
<p>Cuando se envía el resultado de una petición desde un servicio web, ésta debe incluir suficiente información para que sea interpretado adecuadamente por la aplicación cliente.</p>
<p>Esta librería ofrece un mecanismo simple y flexible que permite dar formato a las respuestas de un servicio web creado con express.</p>
<h2 id="caracteristicas"><a class="anchor" routerLink="/referencias/response-handler" fragment="caracteristicas" aria-hidden="true"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a> Características</h2>
<ul>
<li>Es posible definir dos tipos de respuestas <code>success</code> y <code>error</code>.</li>
<li>El formato de la respuesta es personalizable.</li>
<li>Se puede configurar para que todas las peticiones sean exitosas (<code>status: 200 Ok</code>).</li>
</ul>
<h2 id="tipos-de-errores"><a class="anchor" routerLink="/referencias/response-handler" fragment="tipos-de-errores" aria-hidden="true"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a> Tipos de errores</h2>
<table>
<thead>
<tr>
<th>Tipo</th>
<th>Código</th>
<th>Titulo</th>
<th>Mensaje</th>
<th>Causa</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>BAD_REQUEST</code></td>
<td>400</td>
<td>Petición incorrecta</td>
<td>Hubo un error al procesar su solicitud, revise el formato en el envío de datos e inténtelo nuevamente.</td>
<td>Ocurre cuando algún dato de entrada no tiene el formato correcto.</td>
</tr>
<tr>
<td><code>UNAUTHORIZED</code></td>
<td>401</td>
<td>Acceso no autorizado</td>
<td>Debe autenticarse para acceder al recurso.</td>
<td>Ocurre cuando se intenta acceder a un recurso privado.</td>
</tr>
<tr>
<td><code>FORBIDDEN</code></td>
<td>403</td>
<td>Acceso denegado</td>
<td>No cuenta con los privilegios suficientes para acceder al recurso.</td>
<td>Ocurre cuando se intenta acceder a un recurso privado, utilizando una credencial incorrecta.</td>
</tr>
<tr>
<td><code>NOT_FOUND</code></td>
<td>404</td>
<td>Recurso no disponible</td>
<td>El servidor no puede encontrar el recurso solicitado.</td>
<td>Ocurre generalmente cuando el registro no existe o ha sido eliminado.</td>
</tr>
<tr>
<td><code>CONFLICT</code></td>
<td>409</td>
<td>Conflicto</td>
<td>Hubo un error durante el proceso, inténtelo nuevamente.</td>
<td>Ocurre generalmente cuando el registro ha sido modificado y no se puede continuar con el proceso.</td>
</tr>
<tr>
<td><code>PRECONDITION_FAILED</code></td>
<td>412</td>
<td>Condición insuficiente</td>
<td>No se cumple con algunas condiciones que son necesarias para completar la tarea.</td>
<td>Ocurre cuando no se cumple con ciertas condiciones (validaciones lógicas), por lo general cuando los datos de entrada en conjunto no tienen un sentido lógico.</td>
</tr>
<tr>
<td><code>INVALID_TOKEN</code></td>
<td>498</td>
<td>Token inválido</td>
<td>El token es inválido</td>
<td>Ocurre generalmente cuando el token ha expirado.</td>
</tr>
<tr>
<td><code>INTERNAL_SERVER</code></td>
<td>500</td>
<td>Error interno</td>
<td>Hubo un error inesperado, inténtelo mas tarde.</td>
<td>Este error nunca debería ocurrir, generalmente son errores desconocidos que no han sido controlados.</td>
</tr>
</tbody>
</table>
<h2 id="tipos-de-respuesta-exitosa"><a class="anchor" routerLink="/referencias/response-handler" fragment="tipos-de-respuesta-exitosa" aria-hidden="true"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a> Tipos de respuesta exitosa</h2>
<table>
<thead>
<tr>
<th>Tipo</th>
<th>Código</th>
<th>Titulo</th>
<th>Mensaje</th>
<th>Causa</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>OK</code></td>
<td>200</td>
<td>Éxito</td>
<td>La tarea ha sido completada exitosamente.</td>
<td>Ocurre cuando una tarea finaliza correctamente.</td>
</tr>
<tr>
<td><code>CREATED</code></td>
<td>201</td>
<td>Éxito al crear</td>
<td>El recurso ha sido creado de manera exitosa.</td>
<td>Ocurre cuando una tarea finaliza correctamente y como resultado se ha creado un nuevo recurso.</td>
</tr>
</tbody>
</table>
<h2 id="funcion-success"><a class="anchor" routerLink="/referencias/response-handler" fragment="funcion-success" aria-hidden="true"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a> Función <code>success</code></h2>
<p>Esta función permite crear un middleware que adiciona las propiedades <code>success</code>, <code>success200</code> y <code>success201</code> al objeto <code>response</code> de una petición.</p>
<table>
<thead>
<tr>
<th>Parámetros</th>
<th>Descripción</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>successHandler</code></td>
<td>Función que se utiliza para modificar la respuesta antes de que ésta sea tratada.</td>
</tr>
<tr>
<td><code>onSuccess</code></td>
<td>Función que contiene el resultado final y que puede ser utilizado para realizar otras acciones.</td>
</tr>
<tr>
<td><code>successFormat</code></td>
<td>Función que da formato al resultado final.</td>
</tr>
</tbody>
</table>
<pre><code class="hljs language-js"><span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">successHandler</span> (<span class="hljs-params">data</span>) </span>&#123;
  <span class="hljs-keyword">return</span> data
&#125;
<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">onSuccess</span> (<span class="hljs-params">result, req</span>) </span>&#123;
  <span class="hljs-comment">// TODO</span>
&#125;
<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">successFormat</span> (<span class="hljs-params">result</span>) </span>&#123;
  <span class="hljs-keyword">return</span> &#123;
    <span class="hljs-attr">name</span>     : result.name,
    <span class="hljs-attr">status</span>   : result.status,
    <span class="hljs-attr">type</span>     : result.type,
    <span class="hljs-attr">code</span>     : result.code,
    <span class="hljs-attr">message</span>  : result.message,
    <span class="hljs-attr">data</span>     : result.data,
    <span class="hljs-attr">metadata</span> : result.metadata
  &#125;
&#125;

app.use(Response.success(&#123; successHandler, onSuccess, successFormat &#125;))
</code></pre>
<h2 id="respuestas-con-el-metodo-success200"><a class="anchor" routerLink="/referencias/response-handler" fragment="respuestas-con-el-metodo-success200" aria-hidden="true"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a> Respuestas con el método <code>success200</code></h2>
<pre><code class="hljs language-js">res.success200(&#123; <span class="hljs-attr">id</span>: <span class="hljs-number">1</span>, <span class="hljs-attr">titulo</span>: <span class="hljs-string">'El gato negro'</span> &#125;)
res.success200(&#123; <span class="hljs-attr">id</span>: <span class="hljs-number">1</span>, <span class="hljs-attr">titulo</span>: <span class="hljs-string">'El gato negro'</span> &#125;, <span class="hljs-string">'Libro obtenido exitosamente.'</span>)
res.success200([&#123; <span class="hljs-attr">id</span>: <span class="hljs-number">1</span>, <span class="hljs-attr">titulo</span>: <span class="hljs-string">'El gato negro'</span> &#125;], <span class="hljs-string">'Libro obtenido exitosamente.'</span>, &#123; <span class="hljs-attr">count</span>: <span class="hljs-number">1</span> &#125;)
</code></pre>
<pre><code class="hljs language-json">&#123;
  <span class="hljs-attr">"name"</span>: <span class="hljs-string">"ResponseHandlerSuccess"</span>,
  <span class="hljs-attr">"status"</span>: <span class="hljs-string">"success"</span>,
  <span class="hljs-attr">"type"</span>: <span class="hljs-string">"OK"</span>,
  <span class="hljs-attr">"code"</span>: <span class="hljs-number">200</span>,
  <span class="hljs-attr">"message"</span>: <span class="hljs-string">"Libro obtenido exitosamente."</span>,
  <span class="hljs-attr">"data"</span>: [
    &#123;
      <span class="hljs-attr">"id"</span>: <span class="hljs-number">1</span>,
      <span class="hljs-attr">"titulo"</span>: <span class="hljs-string">"El gato negro"</span>
    &#125;
  ],
  <span class="hljs-attr">"metadata"</span>: &#123;
    <span class="hljs-attr">"count"</span>: <span class="hljs-number">1</span>
  &#125;
&#125;
</code></pre>
<h2 id="funcion-error"><a class="anchor" routerLink="/referencias/response-handler" fragment="funcion-error" aria-hidden="true"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a> Función <code>error</code></h2>
<p>Al igual que con la función success, esta función permite crear un middleware que adiciona las propiedades <code>error</code>, <code>error400</code>, <code>error401</code>, etc. al objeto <code>response</code> de una petición.</p>
<table>
<thead>
<tr>
<th>Parámetros</th>
<th>Descripción</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>errorHandler</code></td>
<td>Función que se utiliza para modificar el error antes de que ésta sea tratada.</td>
</tr>
<tr>
<td><code>onError</code></td>
<td>Función que contiene el resultado final y que puede ser utilizado para realizar otras acciones.</td>
</tr>
<tr>
<td><code>errorFormat</code></td>
<td>Función que da formato al resultado final.</td>
</tr>
</tbody>
</table>
<pre><code class="hljs language-js"><span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">errorHandler</span> (<span class="hljs-params">data</span>) </span>&#123;
  <span class="hljs-keyword">return</span> data
&#125;
<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">onError</span> (<span class="hljs-params">result, req</span>) </span>&#123;
  <span class="hljs-comment">// TODO</span>
&#125;
<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">errorFormat</span> (<span class="hljs-params">result</span>) </span>&#123;
  <span class="hljs-keyword">return</span> &#123;
    <span class="hljs-attr">name</span>    : result.name,
    <span class="hljs-attr">status</span>  : result.status,
    <span class="hljs-attr">type</span>    : result.type,
    <span class="hljs-attr">code</span>    : result.code,
    <span class="hljs-attr">message</span> : result.message,
    <span class="hljs-attr">errors</span>  : result.errors,
    <span class="hljs-attr">parent</span>  : result.parent
  &#125;
&#125;

app.use(Response.error(&#123; errorHandler, onError, errorFormat &#125;))
</code></pre>
<h2 id="respuestas-con-el-metodo-error400"><a class="anchor" routerLink="/referencias/response-handler" fragment="respuestas-con-el-metodo-error400" aria-hidden="true"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a> Respuestas con el método <code>error400</code></h2>
<pre><code class="hljs language-js"><span class="hljs-comment">// Errores producidos desde un controlador</span>
res.error400(<span class="hljs-string">'msg1'</span>)
res.error400(&#123; <span class="hljs-attr">msg</span>: <span class="hljs-string">'msg1'</span>, <span class="hljs-attr">dev</span>: <span class="hljs-string">'dev1'</span> &#125;)
res.error400([&#123; <span class="hljs-attr">msg</span>: <span class="hljs-string">'msg1'</span>, <span class="hljs-attr">dev</span>: <span class="hljs-string">'dev1'</span> &#125;, &#123; <span class="hljs-attr">msg</span>: <span class="hljs-string">'msg2'</span>, <span class="hljs-attr">dev</span>: <span class="hljs-string">'dev2'</span> &#125;])

<span class="hljs-comment">// Errores producidos desde un midleware</span>
<span class="hljs-keyword">throw</span> <span class="hljs-keyword">new</span> BadRequest(<span class="hljs-string">'msg1'</span>)
<span class="hljs-keyword">throw</span> <span class="hljs-keyword">new</span> BadRequest(&#123; <span class="hljs-attr">msg</span>: <span class="hljs-string">'msg1'</span>, <span class="hljs-attr">dev</span>: <span class="hljs-string">'dev1'</span> &#125;)
<span class="hljs-keyword">throw</span> <span class="hljs-keyword">new</span> BadRequest([&#123; <span class="hljs-attr">msg</span>: <span class="hljs-string">'msg1'</span>, <span class="hljs-attr">dev</span>: <span class="hljs-string">'dev1'</span> &#125;, &#123; <span class="hljs-attr">msg</span>: <span class="hljs-string">'msg2'</span>, <span class="hljs-attr">dev</span>: <span class="hljs-string">'dev2'</span> &#125;])

<span class="hljs-comment">// Errores producidos desde un controlador de errores</span>
<span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">err, req, res, next</span>) =&gt; </span>&#123;
  err = BadRequest.create(<span class="hljs-string">'msg1'</span>)
  err = BadRequest.create(&#123; <span class="hljs-attr">msg</span>: <span class="hljs-string">'msg1'</span>, <span class="hljs-attr">dev</span>: <span class="hljs-string">'dev1'</span> &#125;)
  err = BadRequest.create([&#123; <span class="hljs-attr">msg</span>: <span class="hljs-string">'msg1'</span>, <span class="hljs-attr">dev</span>: <span class="hljs-string">'dev1'</span> &#125;, &#123; <span class="hljs-attr">msg</span>: <span class="hljs-string">'msg2'</span>, <span class="hljs-attr">dev</span>: <span class="hljs-string">'dev2'</span> &#125;])

  res.error(err)
&#125;
</code></pre>
<pre><code class="hljs language-json">&#123;
  <span class="hljs-attr">"name"</span>: <span class="hljs-string">"ResponseHandlerError"</span>,
  <span class="hljs-attr">"status"</span>: <span class="hljs-string">"error"</span>,
  <span class="hljs-attr">"type"</span>: <span class="hljs-string">"BAD_REQUEST"</span>,
  <span class="hljs-attr">"code"</span>: <span class="hljs-number">400</span>,
  <span class="hljs-attr">"message"</span>: <span class="hljs-string">"Petición incorrecta"</span>,
  <span class="hljs-attr">"errors"</span>: [
    &#123;
      <span class="hljs-attr">"msg"</span>: <span class="hljs-string">"msg1"</span>,
      <span class="hljs-attr">"dev"</span>: <span class="hljs-string">"dev1"</span>
    &#125;,
    &#123;
      <span class="hljs-attr">"msg"</span>: <span class="hljs-string">"msg2"</span>,
      <span class="hljs-attr">"dev"</span>: <span class="hljs-string">"dev2"</span>
    &#125;
  ]
&#125;
</code></pre>
<h2 id="instalacion"><a class="anchor" routerLink="/referencias/response-handler" fragment="instalacion" aria-hidden="true"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a> Instalación</h2>
<p>Para instalar sobre un proyecto, ejecutar el siguiente comando:</p>
<p>$ <code>npm install --save response-handler</code></p>
<h2 id="ejemplo"><a class="anchor" routerLink="/referencias/response-handler" fragment="ejemplo" aria-hidden="true"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a> Ejemplo</h2>
<pre><code class="hljs language-js"><span class="hljs-keyword">const</span> &#123; Response, errors &#125;   = <span class="hljs-built_in">require</span>(<span class="hljs-string">'response-handler'</span>)
<span class="hljs-keyword">const</span> &#123; PreconditionFailed &#125; = errors
<span class="hljs-keyword">const</span> express    = <span class="hljs-built_in">require</span>(<span class="hljs-string">'express'</span>)
<span class="hljs-keyword">const</span> bodyParser = <span class="hljs-built_in">require</span>(<span class="hljs-string">'body-parser'</span>)

<span class="hljs-keyword">const</span> app = express()
app.use(bodyParser.json())

app.use(Response.success())
app.use(Response.error())

app.post(<span class="hljs-string">'/libros'</span>, (req, res, next) =&gt; &#123;
  <span class="hljs-keyword">if</span> (!req.body.titulo) &#123;
    <span class="hljs-keyword">throw</span> <span class="hljs-keyword">new</span> PreconditionFailed(<span class="hljs-string">'Se requiere el título del libro.'</span>)
  &#125;
  res.success200(req.body)
&#125;)

app.use(<span class="hljs-function">(<span class="hljs-params">err, req, res, next</span>) =&gt;</span> &#123;
  res.error(err)
&#125;)

app.listen(<span class="hljs-number">4000</span>)
</code></pre>
<h3 id="respuesta-exitosa"><a class="anchor" routerLink="/referencias/response-handler" fragment="respuesta-exitosa" aria-hidden="true"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a> Respuesta exitosa</h3>
<p><code>curl -H &quot;Content-Type: application/json&quot; -X POST -d '&#123; titulo&quot;: &quot;El cuervo&quot; &#125;' http://localhost:4000/libros</code></p>
<pre><code class="hljs language-json">&#123;
  <span class="hljs-attr">"name"</span>: <span class="hljs-string">"ResponseHandlerSuccess"</span>,
  <span class="hljs-attr">"status"</span>: <span class="hljs-string">"success"</span>,
  <span class="hljs-attr">"type"</span>: <span class="hljs-string">"OK"</span>,
  <span class="hljs-attr">"code"</span>: <span class="hljs-number">200</span>,
  <span class="hljs-attr">"message"</span>: <span class="hljs-string">"Tarea completada exitosamente."</span>,
  <span class="hljs-attr">"data"</span>: &#123;
    <span class="hljs-attr">"titulo"</span>: <span class="hljs-string">"El gato negro"</span>
  &#125;,
  <span class="hljs-attr">"metadata"</span>: <span class="hljs-literal">null</span>
&#125;
</code></pre>
<h3 id="respuesta-con-error"><a class="anchor" routerLink="/referencias/response-handler" fragment="respuesta-con-error" aria-hidden="true"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a> Respuesta con error</h3>
<p><code>curl -H &quot;Content-Type: application/json&quot; -X POST http://localhost:4000/libros</code></p>
<pre><code class="hljs language-json">&#123;
  <span class="hljs-attr">"name"</span>: <span class="hljs-string">"ResponseHandlerError"</span>,
  <span class="hljs-attr">"status"</span>: <span class="hljs-string">"error"</span>,
  <span class="hljs-attr">"type"</span>: <span class="hljs-string">"PRECONDITION_FAILED"</span>,
  <span class="hljs-attr">"code"</span>: <span class="hljs-number">412</span>,
  <span class="hljs-attr">"message"</span>: <span class="hljs-string">"Condición insuficiente"</span>,
  <span class="hljs-attr">"errors"</span>: [
    &#123;
      <span class="hljs-attr">"msg"</span>: <span class="hljs-string">"Se requiere el título del libro."</span>,
      <span class="hljs-attr">"dev"</span>: <span class="hljs-literal">null</span>
    &#125;
  ]
&#125;
</code></pre>

</article>