<article class="markdown-body">

<h1 id="insac-cli"><a class="anchor" routerLink="/referencias/insac-cli" fragment="insac-cli" aria-hidden="true"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a> Insac CLI</h1>
<p>Herramienta de línea de comandos para trabajar con proyectos insac.</p>
<h2 id="caracteristicas"><a class="anchor" routerLink="/referencias/insac-cli" fragment="caracteristicas" aria-hidden="true"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a> Características</h2>
<ul>
<li>Crea un proyecto.</li>
<li>Adiciona nuevos módulos.</li>
<li>Adiciona nuevos modelos.</li>
<li>Adiciona nuevos dao.</li>
<li>Adiciona nuevos seeders.</li>
<li>Adiciona nuevos recursos.</li>
<li>Adiciona nuevas rutas.</li>
<li>Genera recursos de tipo CRUD a partir de modelos.</li>
</ul>
<h2 id="instalacion"><a class="anchor" routerLink="/referencias/insac-cli" fragment="instalacion" aria-hidden="true"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a> Instalación</h2>
<p><code>npm install -g insac-cli</code></p>
<h2 id="ejemplo"><a class="anchor" routerLink="/referencias/insac-cli" fragment="ejemplo" aria-hidden="true"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a> Ejemplo</h2>
<pre><code class="hljs language-bash">$ insac --<span class="hljs-built_in">help</span>

|===============================|
|===   I N S A C  -  C L I   ===|
|===============================|

insac     : v2.1.0
insac-cli : v2.1.0

Modo de uso: insac [comando] [opciones]

  Comandos:

    new &lt;name&gt; [description]  Crea un nuevo proyecto.

    add:module &lt;name&gt;         Adiciona un nuevo módulo.
    add:model &lt;name&gt;          Adiciona un nuevo modelo.
    add:dao                   Adiciona un nuevo dao.
    add:seed                  Adiciona un nuevo seed.
    add:resource &lt;name&gt;       Adiciona un nuevo recurso.
    add:route &lt;key&gt;           Adiciona una nueva ruta.

    gen:resource &lt;name&gt;       Genera un recurso (CRUD) con el código autogenerado.

  Opciones:

    -v, --version             Muestra el número de versión de la herramienta CLI.
    -h, --<span class="hljs-built_in">help</span>                Muestra información acerca del uso de la herramienta CLI.
    -f, --force               Fuerza la operación.
    -e, --example             Incluye un ejemplo.

    -M, --module &lt;value&gt;      Nombre del módulo.
    -m, --model &lt;value&gt;       Nombre del modelo.
    -r, --resource &lt;value&gt;    Nombre del recurso.

    -t, --<span class="hljs-built_in">type</span> &lt;value&gt;        Tipo de modulo o ruta.
                                - MODULOS   : RESOURCE (default), SENDGRID_MAIL, MODULE.
                                - RUTAS     : all (default), get, getId, create, update, destroy, restore.

    --fields &lt;value&gt;          Atributos de un modelo separados por comas y el tipo de dato por dos puntos.
                                - Tipos: STRING (default), INTEGER, FLOAT, BOOLEAN, DATE.

    --level &lt;value&gt;           Nivel de submodelos a incluir en el componente OUTPUT [opcional].
    --method &lt;value&gt;          Propiedad method de una ruta [opcional].
    --path &lt;value&gt;            Propiedad path de una ruta [opcional].
    --description &lt;value&gt;     Propiedad description de una ruta [opcional].

  Ejemplos:

    insac new academico <span class="hljs-string">"Sistema de información."</span>

    insac add:module central
    insac add:model libro --fields titulo,cantidad:INTEGER,precio:FLOAT
    insac add:seed -m libro
    insac add:resource api/v1/libros -m libro
    insac add:resource api/v1/custom
    insac add:route listar -r api/v1/libros -m libro
    insac add:route welcome -r api/v1/custom

    insac gen:resource api/v2/libros -m libro --level 3
</code></pre>

</article>