<article class="markdown-body">

<p><img src="./assets/img/insac-logo-256.png" alt="Logo - Insac JS"></p>
<p>Insac JS es un framework de creación de servicios web basado en lenguaje script que utiliza arquitectura REST.</p>
<h2 id="filosofia"><a class="anchor" routerLink="/tutoriales/introduccion" fragment="filosofia" aria-hidden="true"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a> Filosofía</h2>
<p>El framework está enfocado en la automatización de procesos, la reutilización de código e impulsa el trabajo colaborativo.</p>
<h2 id="tecnologias-utilizadas"><a class="anchor" routerLink="/tutoriales/introduccion" fragment="tecnologias-utilizadas" aria-hidden="true"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a> Tecnologías utilizadas</h2>
<p>El framework ha sido implementado utilizando el lenguaje JavaScript bajo el estándar de programación ECMAScript 2017, esto por el potencial que alcanzó el lenguaje gracias a NodeJS, un entorno de ejecución para JavaScript construido con el motor de JavaScript V8 de Chrome.</p>
<p>NodeJS permite crear aplicaciones del lado del servidor, además de que es una excelente herramienta para crear servicios web gracias a su modelo de operaciones E/S sin bloqueo orientado a eventos, que lo hace liviano y eficiente.</p>
<p>A continuación de describen las diferentes tecnologías y herramientas con las que trabaja el framework:</p>
<table>
<thead>
<tr>
<th>Nombre</th>
<th>Versión</th>
<th>Descripción</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>NodeJS</code></td>
<td>8.0</td>
<td>Entorno de programación de JavaScript.</td>
</tr>
<tr>
<td><code>Express</code></td>
<td>4.16</td>
<td>Framework de NodeJS.</td>
</tr>
<tr>
<td><code>Sequelize</code></td>
<td>4.37</td>
<td>Framework ORM de NodeJS.</td>
</tr>
<tr>
<td><code>Yarn</code></td>
<td>1.7</td>
<td>Manejador de dependencias.</td>
</tr>
<tr>
<td><code>PM2</code></td>
<td>2.7</td>
<td>Gestor avanzado de procesos de producción para NodeJS.</td>
</tr>
<tr>
<td><code>Git</code></td>
<td>2.7</td>
<td>Sistema de control de versiones distribuido de código abierto.</td>
</tr>
<tr>
<td><code>Eslint</code></td>
<td>4.19</td>
<td>Herramienta de linting para JavaScript.</td>
</tr>
</tbody>
</table>
<h2 id="caracteristicas"><a class="anchor" routerLink="/tutoriales/introduccion" fragment="caracteristicas" aria-hidden="true"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a> Caracteristicas</h2>
<ul>
<li>
<p><strong>Estructura de proyecto:</strong> Se organiza el proyecto utilizando un sistema que permite identificar a los componentes de la aplicación y sus respectivas funciones a través del nombre y la extensión de los ficheros.</p>
</li>
<li>
<p><strong>Documentación automática</strong> Se encarga de crear el apidoc de manera automática cada vez que se ejecuta la aplicación, logrando de esta forma que siempre se encuentre actualizada.</p>
</li>
<li>
<p><strong>Validador automático</strong> Se encarga de validar los datos de entrada de forma automática, cuando los datos llegan al middleware o al controlador, éstos ya se encuentran validados y convertidos al tipo de dato esperado.</p>
</li>
<li>
<p><strong>Sistema de filtrado de datos</strong> - Proporciona herramientas para facilitar la creación de filtros. Por defecto todas las peticiones incluyen el filtro <code>fields</code> el cual indica que campos se requiere en la respuesta.</p>
</li>
<li>
<p><strong>Sistema de instalación por módulos</strong> Sobre una base de datos, se crea un esquema para cada módulo, de esta forma es posible tener dos tablas con el mismo nombre, pero en diferentes módulos.</p>
</li>
<li>
<p><strong>Sistema de logs y control de errores</strong> El framework incluye un sistema para monitorear todas las peticiones y capturar cualquier tipo de error no controlado, asegurando de esta forma el correcto funcionamiento del sistema en caso de producirse algún tipo de error, registrándolo a su vez en un archivo de logs.</p>
</li>
</ul>
<h2 id="ejemplo"><a class="anchor" routerLink="/tutoriales/introduccion" fragment="ejemplo" aria-hidden="true"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a> Ejemplo</h2>
<pre><code class="hljs language-js"><span class="hljs-keyword">const</span> &#123; Insac &#125; = <span class="hljs-built_in">require</span>(<span class="hljs-string">'insac'</span>)

<span class="hljs-keyword">const</span> service = <span class="hljs-keyword">new</span> Insac()

service.addModule(<span class="hljs-string">'API'</span>)

service.init()
</code></pre>

</article>