@import '../../../styles';

.menu-top {
  background-color: mat-color($primary);
  background-image: url('assets/img/insac-bg.jpg');
  width: 100%;
  padding: 10px;
  position: fixed;
  z-index: 10;
}

.drawer-toggle {
  color: white;
}

.titulo-principal {
  color: white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: bold;
  padding: 8px;
  white-space: nowrap;
  margin-left: 40px;
}

.active {
  background-color: mat-color($primary);
  color: white;
}

.drawer-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 60px;
}

.loader {
  position: absolute;
  z-index: 999999999;
  height: 5px;
}

.title-loader {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 30px;
}

.drawer {
  background-color: #f2f2f2;
  min-width: 230px;
  border-right: solid lightgrey 1px;
}

.drawer-toggle {
  z-index: 10;
  margin: 7px 10px 7px 10px;
  position: fixed;
  color: white;
}

.link {
  border-radius: 0px;
  border-bottom: solid lightgrey 1px;
  text-align: left;
}

.footer {
  background-color: #f2f2f2;
  color: grey;
  padding: 10px;
  text-align: right;
  border-top: solid lightgrey 1px;
  padding-right: 50px;
}
