<article class="markdown-body">

<h1 id="mi-primer-proyecto"><a class="anchor" routerLink="/tutoriales/mi-primer-proyecto" fragment="mi-primer-proyecto" aria-hidden="true"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a> Mi Primer Proyecto</h1>
<p>Para crear este proyecto, se utilizará la herramienta de línea de comandos <code>insac-cli</code> y el manejador de paquetes <code>yarn</code>.</p>
<h2 id="instalacion"><a class="anchor" routerLink="/tutoriales/mi-primer-proyecto" fragment="instalacion" aria-hidden="true"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a> Instalación</h2>
<pre><code class="hljs language-bash">npm install -g insac-cli yarn
</code></pre>
<h2 id="creacion-del-proyecto"><a class="anchor" routerLink="/tutoriales/mi-primer-proyecto" fragment="creacion-del-proyecto" aria-hidden="true"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a> Creación del proyecto</h2>
<pre><code class="hljs language-bash">insac new blog
<span class="hljs-built_in">cd</span> blog
yarn install
</code></pre>
<h2 id="estructura-inicial-del-proyecto"><a class="anchor" routerLink="/tutoriales/mi-primer-proyecto" fragment="estructura-inicial-del-proyecto" aria-hidden="true"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a> Estructura inicial del proyecto</h2>
<pre><code class="hljs language-txt">blog
 ├─ certs
 │     ├─ example.privateKey.pem
 │     ├─ example.publicKey.pem
 │     ├─ example.server.csr
 │     ├─ privateKey.pem
 │     ├─ publicKey.pem
 │     └─ README.md
 ├─ node_modules
 ├─ public
 │     └─ apidoc
 ├─ logs
 │     └─ app.log
 ├─ src
 │     ├─ config
 │     |     └─ app.config.js
 │     |     └─ example.app.config.js
 │     ├─ modules
 │     └─ app.js
 ├─ test
 │     ├─ integration
 │     |     └─ Example.spec.js
 │     ├─ unit
 │     |     └─ Example.spec.js
 │     ├─ helpers.js
 │     └─ mocha.opts
 ├─ .eslintrc.js
 ├─ .gitignore
 ├─ .insac.js
 ├─ ecosystem.json
 ├─ example.ecosystem.json
 ├─ index.js
 ├─ package.json
 ├─ README.md
 └─ yarn.lock
</code></pre>
<p>Adicion de un nuevo módulo</p>
<p><code>insac add:module api</code></p>
<p>Esto nos generará la siguiente carpeta:</p>
<pre><code class="hljs language-txt"> ├─ src
       ├─ modules
             └─ API
                   ├─ dao
                   ├─ models
                   ├─ resources
                   ├─ seeders
                   |     └─ prod
                   └─ api.module.js
</code></pre>
<p>Creación de modelos <code>persona</code> y <code>post</code>, en base al siguiente diagrama:</p>
<pre><code class="hljs language-txt">  ┌───────────────┐         ┌───────────────┐
  │    PERSONA    │         │     POST      |
  ├───────────────┤ 1       ├───────────────┤
  │ id_persona    ├────┐    │ id_post       |
  │ nombre        │    │    │ titulo        │
  │ telefono      │    │    │ fecha         │
  │ email         │    │  N │ descripcion   │
  │               │    └───&gt;│ fid_autor     │
  └───────────────┘         └───────────────┘
</code></pre>
<p>Creación de los modelos. Los DAO se generan de manera automática.</p>
<pre><code class="hljs language-bash">insac add:model persona --fields nombre,telefono,email

insac add:model post --fields titulo,fecha:DATE,descripcion:TEXT -e
</code></pre>
<p>El flag <code>-e</code> incluye dentro del modelo un ejemplo de asociación.</p>
<p>Hasta aquí, ya se tienen los archivos con la configuración básica, realizando algunas modificaciones, tenemos lo siguiente:</p>
<p>Archivo <code>persona.model.js</code></p>
<pre><code class="hljs language-js"><span class="hljs-keyword">const</span> &#123; Field &#125; = <span class="hljs-built_in">require</span>(insac)

<span class="hljs-built_in">module</span>.exports = <span class="hljs-function">(<span class="hljs-params">sequelize, Sequelize</span>) =&gt;</span> &#123;
  <span class="hljs-keyword">const</span> MODEL = sequelize.define(<span class="hljs-string">'persona'</span>, &#123;
    <span class="hljs-attr">id_persona</span>: Field.ID(&#123;
      <span class="hljs-attr">comment</span>: <span class="hljs-string">'ID persona.'</span>
    &#125;),
    <span class="hljs-attr">nombre</span>: Field.STRING(&#123;
      <span class="hljs-attr">comment</span> : <span class="hljs-string">'Nombre completo de la persona.'</span>,
      <span class="hljs-attr">example</span> : <span class="hljs-string">'John Smith'</span>
    &#125;),
    <span class="hljs-attr">telefono</span>: Field.STRING(&#123;
      <span class="hljs-attr">comment</span> : <span class="hljs-string">'Número de telefono o celular.'</span>,
      <span class="hljs-attr">example</span> : <span class="hljs-string">'78885768'</span>
    &#125;),
    <span class="hljs-attr">email</span>                 : Field.EMAIL,
    <span class="hljs-attr">_estado</span>               : Field.STATUS,
    <span class="hljs-attr">_usuario_creacion</span>     : Field.CREATED_USER,
    <span class="hljs-attr">_usuario_modificacion</span> : Field.UPDATED_USER,
    <span class="hljs-attr">_usuario_eliminacion</span>  : Field.DELETED_USER,
    <span class="hljs-attr">_fecha_creacion</span>       : Field.CREATED_AT,
    <span class="hljs-attr">_fecha_modificacion</span>   : Field.UPDATED_AT,
    <span class="hljs-attr">_fecha_eliminacion</span>    : Field.DELETED_AT
  &#125;, &#123;
    <span class="hljs-attr">schema</span>: <span class="hljs-string">'api'</span>
  &#125;)

  MODEL.associate = <span class="hljs-function">(<span class="hljs-params">app</span>) =&gt;</span> &#123;
    <span class="hljs-comment">// TODO</span>
  &#125;

  <span class="hljs-keyword">return</span> MODEL
&#125;
</code></pre>
<p>Archivo <code>post.model.js</code></p>
<pre><code class="hljs language-js"><span class="hljs-keyword">const</span> &#123; Field &#125; = <span class="hljs-built_in">require</span>(insac)

<span class="hljs-built_in">module</span>.exports = <span class="hljs-function">(<span class="hljs-params">sequelize, Sequelize</span>) =&gt;</span> &#123;
  <span class="hljs-keyword">const</span> MODEL = sequelize.define(<span class="hljs-string">'post'</span>, &#123;
    <span class="hljs-attr">id_post</span>: Field.ID(&#123;
      <span class="hljs-attr">comment</span>: <span class="hljs-string">'ID post.'</span>
    &#125;),
    <span class="hljs-attr">titulo</span>: Field.STRING(&#123;
      <span class="hljs-attr">comment</span> : <span class="hljs-string">'Título del post.'</span>,
      <span class="hljs-attr">example</span> : <span class="hljs-string">'Inteligencia Artificial'</span>
    &#125;),
    <span class="hljs-attr">fecha</span>: Field.DATE(&#123;
      <span class="hljs-attr">comment</span>: <span class="hljs-string">'Fecha de publicación.'</span>
    &#125;),
    <span class="hljs-attr">descripcion</span>: Field.TEXT(&#123;
      <span class="hljs-attr">comment</span> : <span class="hljs-string">'Contenido del post.'</span>,
      <span class="hljs-attr">example</span> : <span class="hljs-string">'La inteligencia artificial ...'</span>
    &#125;),
    <span class="hljs-attr">_estado</span>               : Field.STATUS,
    <span class="hljs-attr">_usuario_creacion</span>     : Field.CREATED_USER,
    <span class="hljs-attr">_usuario_modificacion</span> : Field.UPDATED_USER,
    <span class="hljs-attr">_usuario_eliminacion</span>  : Field.DELETED_USER,
    <span class="hljs-attr">_fecha_creacion</span>       : Field.CREATED_AT,
    <span class="hljs-attr">_fecha_modificacion</span>   : Field.UPDATED_AT,
    <span class="hljs-attr">_fecha_eliminacion</span>    : Field.DELETED_AT
  &#125;, &#123;
    <span class="hljs-attr">schema</span>: <span class="hljs-string">'api'</span>
  &#125;)

  MODEL.associate = <span class="hljs-function">(<span class="hljs-params">app</span>) =&gt;</span> &#123;
    <span class="hljs-keyword">const</span> PERSONA = app.API.models.persona
    <span class="hljs-keyword">const</span> POST    = app.API.models.post

    POST.belongsTo(PERSONA, &#123; <span class="hljs-attr">as</span>: <span class="hljs-string">'autor'</span>, <span class="hljs-attr">foreignKey</span>: &#123; <span class="hljs-attr">name</span>: <span class="hljs-string">'fid_autor'</span>, <span class="hljs-attr">targetKey</span>: <span class="hljs-string">'id_persona'</span> &#125; &#125;)
    PERSONA.hasMany(POST,   &#123; <span class="hljs-attr">as</span>: <span class="hljs-string">'posts'</span>, <span class="hljs-attr">foreignKey</span>: &#123; <span class="hljs-attr">name</span>: <span class="hljs-string">'fid_autor'</span> &#125; &#125;)
  &#125;

  <span class="hljs-comment">// Ejemplo.-</span>
  <span class="hljs-comment">//</span>
  <span class="hljs-comment">// ┌─────────────┐         ┌─────────────┐         ┌─────────────┐</span>
  <span class="hljs-comment">// │    LIBRO    │         │    AUTOR    |         │   PERSONA   │</span>
  <span class="hljs-comment">// ├─────────────┤       1 ├─────────────┤       1 ├─────────────┤</span>
  <span class="hljs-comment">// │ id_libro    │ N  ┌────┤ id_autor    | 1  ┌────┤ id_persona  │</span>
  <span class="hljs-comment">// │ fid_autor   │&lt;───┘    │ fid_persona │&lt;───┘    │             │</span>
  <span class="hljs-comment">// └─────────────┘         └─────────────┘         └─────────────┘</span>
  <span class="hljs-comment">//</span>
  <span class="hljs-comment">// const LIBRO   = app.API.models.libro</span>
  <span class="hljs-comment">// const AUTOR   = app.API.models.autor</span>
  <span class="hljs-comment">// const PERSONA = app.API.models.persona</span>
  <span class="hljs-comment">//</span>
  <span class="hljs-comment">// LIBRO.belongsTo(AUTOR, &#123; as: 'autor',  foreignKey: &#123; name: 'fid_autor', targetKey: 'id_autor' &#125; &#125;)</span>
  <span class="hljs-comment">// AUTOR.hasMany(LIBRO,   &#123; as: 'libros', foreignKey: &#123; name: 'fid_autor' &#125; &#125;)</span>
  <span class="hljs-comment">//</span>
  <span class="hljs-comment">// AUTOR.belongsTo(PERSONA, &#123; as: 'persona', foreignKey: &#123; name: 'fid_persona', targetKey: 'id_persona', allowNull: false &#125; &#125;)</span>
  <span class="hljs-comment">// PERSONA.hasOne(AUTOR,    &#123; as: 'autor',   foreignKey: &#123; name: 'fid_persona' &#125; &#125;)</span>

  <span class="hljs-keyword">return</span> MODEL
&#125;
</code></pre>
<p>Podemos crear algunos seeders para insertar algunos datos por defecto en la base de datos:</p>
<pre><code class="hljs language-bash">insac add:seed -m persona
insac add:seed -m post
</code></pre>
<p>Ahora, procedemos la generación de un CRUD básico.</p>
<pre><code class="hljs language-bash">insac gen:resource api/v1/personas -m persona --level 2
insac gen:resource api/v1/posts -m post --level 2
</code></pre>
<p>La estructura del modulo queda de la siguiente forma:</p>
<pre><code class="hljs language-txt">├─ src
      ├─ modules
            └─ API
                  ├─ dao
                  |     ├─ persona.dao.js
                  |     └─ post.dao.js
                  ├─ models
                  |     ├─ persona.model.js
                  |     └─ post.model.js
                  ├─ resources
                  |     └─ api
                  |           └─ v1
                  |                 ├─ personas
                  |                 |     ├─ persona.controller.js
                  |                 |     ├─ persona.input.js
                  |                 |     ├─ persona.middleware.js
                  |                 |     ├─ persona.output.js
                  |                 |     └─ persona.route.js
                  |                 └─ posts
                  |                       ├─ post.controller.js
                  |                       ├─ post.input.js
                  |                       ├─ post.middleware.js
                  |                       ├─ post.output.js
                  |                       └─ post.route.js
                  ├─ seeders
                  |     ├─ prod
                  |     ├─ persona.seed.js
                  |     └─ post.seed.js
                  └─ api.module.js
</code></pre>
<p>Listo, ya podemos instalar y ejecutar la aplicación, para esto debemos actualizar los datos de configuración de la base de datos y del servidor los cuales se encuentran en el archivo <code>app.config.js</code>.</p>
<p>Una vez que se hayan establecido las credenciales de acceso a la base de datos, procedemos con la instalación.</p>
<p><code>yarn setup</code></p>
<pre><code class="hljs language-bash">$ SETUP=<span class="hljs-literal">true</span> node index.js

 |===============================================|
 |======   I N S A C   F R A M E W O R K   ======|
 |===============================================|

 |===============================================|
 |---------   INSTALANDO   APLICACIÓN   ---------|
 |===============================================|

 - CREATE DATABASE blog ✓

 - CREATE SCHEMA api ✓

 Módulo API ...

 - DROP TABLE persona ✓
 - DROP TABLE post ✓

 - CREATE TABLE persona ✓
 - CREATE TABLE post ✓

 - SEED persona ✓
 - SEED post ✓

 API ✓

 - Instalación finalizada correctamente.
</code></pre>
<p>Ahora ejecutamos la aplicación:</p>
<p><code>yarn start</code></p>
<pre><code class="hljs language-bash">$ node index.js

 |===============================================|
 |======   I N S A C   F R A M E W O R K   ======|
 |===============================================|

 |===============================================|
 |-------   INICIALIZANDO   APLICACIÓN   --------|
 |===============================================|

 Módulo API ...

 [GET]    /api/v1/personas ....................... get
 [GET]    /api/v1/personas/:id_persona ........... getId
 [POST]   /api/v1/personas ....................... create
 [PUT]    /api/v1/personas/:id_persona ........... update
 [DELETE] /api/v1/personas/:id_persona ........... destroy
 [PUT]    /api/v1/personas/:id_persona/restore ... restore

 [GET]    /api/v1/posts .................... get
 [GET]    /api/v1/posts/:id_post ........... getId
 [POST]   /api/v1/posts .................... create
 [PUT]    /api/v1/posts/:id_post ........... update
 [DELETE] /api/v1/posts/:id_post ........... destroy
 [PUT]    /api/v1/posts/:id_post/restore ... restore


 API ✓

 Crear APIDOC ✓

 Servicio activo en modo development

 - [service] http://localhost:4000
 - [apidoc]  http://localhost:4000/apidoc
</code></pre>

</article>